
{% extends "base.html" %}
{% block aside -%}
    <div>
        <ul>
            {% for item in grouped_tags[:25] -%}
            <li><a href="/posts/?tags={{item}}">{{item}}</a></li>
            {%- endfor %}
        </ul>

    </div>
{%- endblock %}

{% block main -%}
    <div class="grid-items">
        {% for item in posts -%}
                <a href="/posts/{{item.id}}" class="panel">
                    <img src="{{item.image}}">
                    <span>Открыть</span>
                </a>
        {%- endfor %}
    </div>
    <div class="pag-nav">
        {% if paggination.prev %}
        <a href="?page={{paggination.prev}}"><</a>
        {%- endif %}
        <div>
            {{paggination}}
        </div>
        <a href="?page={{paggination.next}}">></a>
    </div>
{%- endblock %}


{% block style -%}
    <style>
        .post-main {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 100%;
            align-items: center
        }

        .pag-nav {
            display: flex;
            color: var(--text-color-regular);
            justify-content: space-between;

            width: 100%;
            background-color: var(--panel-color);
            padding: .5rem;
            border-radius: .2rem;
            a {
                text-decoration: none; 
                color: var(--text-color-regular);
                

                &:disabled{
                    color: oklch(from var(--text-color-regular) .5 c h)
                }
            }
        }
    </style>
{%- endblock %}